# Xcode
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.moved-aside

# Swift Package Manager
.build/
Packages/
DerivedData/
.swiftpm/
.swift-version

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Playground support files (optional)
timeline.xctimeline
playground.xcworkspace

# Ignore individual playgrounds (если нужно)
605. Can Place Flowers.playground/
1071. Greatest Com...of Strings.playground/
1431. Kids With the...f Candies.playground/
1768. Merge Strings Alternately.playground/

# Ignore logs
*.log

# Ignore by folder name
build/
*.idea/
*.vscode/